<div class="login_wrapper">

  <mat-card class="login" *ngIf="!logged">
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
      {{ message }}
      <form>

          <input type="text" matInput placeholder="Username" [(ngModel)]="form.email" name="email">

          <input type="password" matInput placeholder="Password" [(ngModel)]="form.password" name="password">

        <button mat-button class="primary" (click)="login()">{{ loading ? 'Connecting ....' : 'Connection'}}</button>
      </form>

    </mat-card-content>
  </mat-card>

  <mat-card class="login" *ngIf="logged">
    <mat-card-title>
      Hello {{ user.commonName }} {{ user.surName }}
    </mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>




  <mat-card  class="add_school_link">
    <mat-card-content>
      <div>
        <a routerLink="/school">Add your school</a>
      </div>
    </mat-card-content>
  </mat-card>

</div>
